* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#heading {
  color: black;
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  margin: 50px 360px;
}
.imgSet {
  background-image: url(../img/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  opacity: 0.6;
  position: relative;
}
.artical {
  border: 5px rgb(243 236 235) solid;
  width: 234px;
  height: 270px;
  border-radius: 10px;
  padding: 10px;
  margin: 51px 15px 0px 42px;
  display: inline-block;
  text-align: justify;
  font-size: 15px;
  background-color: rgb(241 241 241);
}
.artical button {
    border: none;
    text-align: left;
    color: #100303;
    padding: 10px 18px;
    background-color: #c5b3aa;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 5px 0px 0px;
}