* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}
/*  position value relative and absolute */
.box1 {
  width: 450px;
  height: 280px;
  background-color: green;
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 300px;
}
.box2 {
  width: 180px;
  height: 180px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.box3 {
  background-color: brown;
  border: 2px;
  width: 6px;
  height: 500px;
}
/* position value sticky */
.box4 h3 {
  border: 2px;
  background-color: black;
  color: aliceblue;
  width: 500px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}
p {
  text-align: justify;
  padding-bottom: 500px;
  color: blue;
}
/* position value sticky */
.box5 h2 {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 50px;
}
