* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* header part start */
#heading {
  color: #000000;
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 83px;
  left: 300px;
  z-index: 1;
}
.imgSet {
  background-image: url(../img/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  opacity: 0.6;
  position: relative;
  overflow: hidden;
}

nav > ul {
  display: flex;
  list-style: none;
  background-color: black;
}
li,
a {
  padding: 10px 20px;
  color: black;
  font-size: 20px;
  font-weight: 900;
  color: white;
}
nav li:hover {
  background: #7c7ca3;
}
/* header part start */
/* artical part start */
.artical {
  border: 5px rgb(243 236 235) solid;
  width: 234px;
  height: 270px;
  border-radius: 10px;
  padding: 10px;
  margin: 51px 15px 0px 42px;
  display: inline-block;
  text-align: justify;
  font-size: 15px;
  background-color: rgb(241 241 241);
}
.artical button {
  border: none;
  text-align: left;
  color: #100303;
  padding: 10px 18px;
  background-color: #c5b3aa;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  margin: 15px 5px 0px 0px;
}
/* artical part end */
/* media part start */
.mediaAdded {
  display: inline-block;
  width: 100%;
  height: 300px;
  border: 1px solid rgb(235, 227, 227);
  margin-top: 20px;
  background-color: rgb(241 241 241);
}
.mediaAdded h3 {
  text-align: center;
  font-size: 50px;
  padding: 20px 0px;
}
/* media part start */
/* create table start */
#tableCreate {
  margin-bottom: 60px;
}
caption {
  text-align: center;
  font-size: 40px;
  margin: 15px 0px;
}
table {
  border-collapse: collapse;
  margin: 0px auto;
}
th {
  font-size: 25px;
  color: #7c7ca3;
  font-weight: 900;
}
td,
th {
  border: 1px solid #edebeb;
  padding: 10px 20px;
  text-align: center;
}
/* create table end */
/* Login Form Start */
#logIn {
  height: 600px;
}
form {
  margin: 20px auto;
  width: 500px;
  background-color: #080d7c;
  border-radius: 10px;
  padding-bottom: 15px;
}
label {
  display: inline-block;
  margin: 7px 0px 0px 12px;
  color: white;
  padding: 10px 0px 0px 0px;
}
input[type="text"] {
  display: block;
  border: none;
  width: 300px;
  padding: 10px 0px;
  font-size: 10px;
  margin-top: 5px;
}
legend {
  margin-left: 12px;
  color: white;
}
input#email {
  display: block;
  width: 300px;
  padding: 10px 0px;
  border: none;
  margin-top: 10px;
  font-size: 10px;
}
input#password {
  display: block;
  width: 300px;
  padding: 10px 0px;
  border: none;
  margin-top: 10px;
  font-size: 10px;
}
fieldset {
  width: 500px;
  border: none;
  margin-bottom: 10px;
}
textarea#textarea {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}
input[type="reset"] {
  padding: 10px 30px;
  background: #860d87;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
input[type="submit"] {
  padding: 10px 30px;
  background: #860d87;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
/* Login Form end */
