* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#heading {
  color: black;
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  margin: 50px 360px;
}
.imgSet {
  background-image: url(../img/11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  opacity: 0.6;
  position: relative;
}
.artical {
  border: 5px rgb(243 236 235) solid;
  width: 234px;
  height: 270px;
  border-radius: 10px;
  padding: 10px;
  margin: 51px 15px 0px 42px;
  display: inline-block;
  text-align: justify;
  font-size: 15px;
  background-color: rgb(241 241 241);
}
.artical button {
    border: none;
    text-align: left;
    color: #100303;
    padding: 10px 18px;
    background-color: #c5b3aa;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 5px 0px 0px;
}
.mediaAdded{
  display: inline-block;
  width: 100%;
  height:300px;
  border: 1px solid rgb(235, 227, 227);
  margin-top: 20px ;
  background-color: rgb(241 241 241);
}
.mediaAdded h3{
  text-align: center;
  font-size: 50px;
  padding: 20px 0px;
}
/* create table start */
#tableCreate{
  margin-bottom: 60px;
}
caption{
  text-align: center;
  font-size: 40px;
  margin: 15px 0px;
}
table {
    border-collapse: collapse;
    margin: 0px auto;
}
th {
    font-size: 25px;
    color: #7c7ca3;
    font-weight: 900;
}
td , th{
    border: 1px solid #edebeb;
    padding: 10px 20px;
    text-align: center;
  
}
/* Login Form Start */
#logIn{
  background-color: aliceblue;
  height: 500px;
}
label{
  display: block;
}
input[type='text'] {
    display: inline-block;
    border: none;
    width: 300px;
    padding: 10px 0px;
    font-size: 10px;
}
input#email {
    width: 300px;
    padding: 10px 0px;
    border: none;
    margin-top: 10px;
    font-size: 10px;
}
input#password {
    width: 300px;
    padding: 10px 0px;
    border: none;
    margin-top: 10px;
    font-size: 10px;
}
fieldset {
    width: 500px;
    border: none;
    margin-bottom: 10px;
}